@use "../base/fonts";
@use "../base/reset";
@use "../abstracts/mixins";
@use "../abstracts/variables";

// shadow img
@include mixins.shadow-img(cart-hero, "../assets/img/cart_page/bg_hero");

.cart-hero {
  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    &.section {
      max-height: 195px;

      .about-hero-box {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
  }

  @media (min-width: variables.$bp-tablet) {
    height: 229px;

    .about-hero-box {
      padding-top: 82px;
      padding-bottom: 86px;
    }
  }
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.cart-main-table,
.cart-total-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

// main table
.cart-table-head {
  background-color: variables.$textmain;
  color: variables.$white;

  th {
    background-color: variables.$textmain;
    color: variables.$white;

    @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
      padding: 4px;
    }

    @media (min-width: variables.$bp-tablet) {
      padding: 10px 24px;
    }

    @media (min-width: variables.$bp-laptop) {
      padding: 14px 32px;
    }

    @media (min-width: variables.$bp-desktop) {
      padding: 18px 40px;
    }
  }
}

tbody td {
  border-bottom: 2px solid variables.$purple;
  padding: 4px 0;
  text-align: center;
}

.cart-counter-box {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    width: 42px;
    gap: 2px;
  }

  @media (min-width: variables.$bp-tablet) {
    width: 95px;
    gap: 5px;
  }
}

img.cart-garbage {
  margin: 0 auto;
  cursor: pointer;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    width: 14px;
  }

  @media (min-width: variables.$bp-tablet) {
    width: 18px;
  }
}

// buttons box
.cart-minor-wrapper {
  display: flex;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    flex-direction: column-reverse;
    gap: 24px;
  }

  @media (min-width: variables.$bp-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cart-button-wrapper {
  display: flex;
  gap: 20px;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: variables.$bp-tablet) {
    flex-direction: column;
    align-items: start;
  }

  @media (min-width: variables.$bp-laptop) {
    flex-direction: column;
  }

  @media (min-width: variables.$bp-desktop) {
    flex-direction: row;
  }

  a,
  button {
    display: block;
    box-sizing: border-box;

    &.hidden {
      display: none;
    }

    @media (min-width: variables.$bp-tablet) {
      width: 200px;
      padding: 14px 16px 16px;
      font-size: 12px;
    }

    @media (min-width: variables.$bp-laptop) {
      width: 224px;
      padding: 20px 16px 22px;
      font-size: 15px;
    }
  }

  a {
    padding-left: 24px;
    padding-right: 24px;
  }
}

// total table
.cart-total-table-box {
  position: relative;
  top: -9px;
  background-color: variables.$textmain;
  padding: 44px 42px 42px;

  button.button {
    box-sizing: border-box;

    @media (min-width: variables.$bp-tablet) {
      width: 180px;
      font-size: 12px;
      margin-top: 18px;
    }

    @media (min-width: variables.$bp-laptop) {
      width: 229px;
      font-size: 15px;
      margin-top: 23px;
    }
  }
}

.cart-total-table {
  position: relative;

  @media (min-width: variables.$bp-tablet) {
    width: 360px;
  }

  @media (min-width: variables.$bp-laptop) {
    width: 420px;
  }

  @media (min-width: variables.$bp-desktop) {
    width: 571px;
  }

  td {
    padding-top: 15px;
    padding-bottom: 20px;
    color: variables.$white;
    text-align: start;

    tfoot td {
      @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
        font-size: 16px;
      }

      @media (min-width: variables.$bp-tablet) {
        font-size: 20px;
      }
    }

    &:last-child {
      text-align: end;
    }

    @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
      font-size: 12px;
    }

    @media (min-width: variables.$bp-tablet) {
      font-size: 17px;
    }
  }
}
