@use "../base/fonts";
@use "../base/reset";
@use "../abstracts/mixins";
@use "../abstracts/variables";

// catalog filters box
.catalog-filters-box {
  display: flex;
  justify-content: space-between;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 18px;
  }

  @media (min-width: variables.$bp-tablet) {
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 32px;
  }

  @media (min-width: variables.$bp-laptop) {
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 85px;
  }

  @media (min-width: variables.$bp-desktop) {
    flex-wrap: nowrap;
  }
}

.catalog-filters-wrapper {
  position: relative;
  cursor: pointer;
  display: inline-block;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    font-size: 10px;
  }

  @media (min-width: variables.$bp-tablet) {
    font-size: 12px;
  }

  @media (min-width: variables.$bp-laptop) {
    font-size: 16px;
  }
}

.catalog-filters-label {
  border: 1px solid variables.$textmain;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    min-width: 140px;
    height: 16px;
    padding: 7px 20px 5px 7px;

    &.catalog-serch-box-input {
      min-width: 100px;
      max-width: 100px;
    }
  }

  @media (min-width: variables.$bp-tablet) {
    min-width: 180px;
    height: 20px;
    padding: 9px 24px 7px 10px;
  }

  @media (min-width: variables.$bp-laptop) {
    min-width: 202px;
    height: 24px;
    padding: 11px 24px 9px 14px;
  }
}

.catalog-filters-label.active {
  text-shadow: variables.$shadow-text;
  background-color: variables.$lightpurple;
}

.catalog-filters {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  border: 1px solid variables.$textmain;
  background-color: variables.$white;
  display: none;
  box-sizing: border-box;
  width: 100%;
  z-index: 10;

  li {
    padding: 10px 24px 10px 14px;
    transition: margin-left 500ms ease-in-out;

    &:hover {
      background-color: variables.$stroke-header;
      color: variables.$black;
      margin-left: 12px;
    }
  }
}

.catalog-filters-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  pointer-events: none;
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalog-filters-wrapper:hover .catalog-filters {
  display: block;
}

.catalog-filters-wrapper:hover .catalog-filters-arrow {
  transform: translateY(50%);
}

// catalog-filters-reset button
.catalog-filters-reset {
  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    height: 32px;
    padding: 8px;
  }

  @media (min-width: variables.$bp-tablet) {
    height: 44px;
    padding: 4px;
  }
}

// main wrapper
.catalog-wrapper {
  display: grid;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    grid-template-columns: 2fr 1fr;
    gap: 18px;
  }

  @media (min-width: variables.$bp-tablet) {
    grid-template-columns: 3fr 1fr;
    gap: 49px;
  }
}

// main container
.catalog-main-container {
  display: flex;
  flex-direction: column;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    gap: 18px;
  }

  @media (min-width: variables.$bp-tablet) {
    gap: 35px;
  }
}

.catalog-sort-box {
  display: flex;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    flex-direction: column-reverse;
    gap: 16px;
  }

  @media (min-width: variables.$bp-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

p.catalog-sort-box {
  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    font-size: 12px;
  }

  @media (min-width: variables.$bp-tablet) {
    font-size: 16px;
  }
}

#catalog {
  display: grid;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 8px;
  }

  @media (min-width: variables.$bp-tablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 8px;
  }

  @media (min-width: variables.$bp-laptop) {
    gap: 50px 11px;
  }
}

.catalog-pagination-box {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    margin-top: 16px;
  }

  @media (min-width: variables.$bp-tablet) {
    margin-top: 24px;
  }

  @media (min-width: variables.$bp-laptop) {
    margin-top: 60px;
  }
}

.catalog-pagination-page-list {
  margin: 0 auto;
  display: flex;
  grid-column: 2;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    gap: 8px;
  }

  @media (min-width: variables.$bp-tablet) {
    gap: 20px;
  }
}

.catalog-pagination-page-item {
  background-color: variables.$purple;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: variables.$bp-tablet) {
    width: 40px;
    height: 40px;
  }
}

.catalog-pagination-page-item.not-active {
  background-color: transparent;
  color: variables.$black;
}

.catalog-pagination-nextbtn-arrow {
  width: 6px;
  height: 11px;
}

#prev-page {
  grid-column: 1;
  justify-self: start;
}

#prev-page .catalog-pagination-nextbtn-arrow {
  transform: rotate(180deg);
}

.catalog-minor-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.catalog-serch-box {
  position: relative;
}

input.catalog-filters-label.text-main.catalog-serch-box-input {
  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    width: 100px;
    padding: 4px 14px 4px 6px;
    height: 20px;
  }

  @media (min-width: variables.$bp-tablet) {
    width: 200px;
    padding: 8px 32px 8px 10px;
    height: 20px;
  }

  @media (min-width: variables.$bp-laptop) {
    width: 275px;
    padding: 10px 32px 10px 14px;
    height: 22px;
  }

  @media (min-width: variables.$bp-desktop) {
    width: 340px;
  }
}

.catalog-search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    right: 8px;
  }

  @media (min-width: variables.$bp-tablet) {
    right: 14px;
  }
}

.catalog-search-btn img {
  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    width: 12px;
  }

  @media (min-width: variables.$bp-tablet) {
    width: 17px;
  }
}

.catalog-topbest .header-nav-text {
  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    font-size: 13px;
  }

  @media (min-width: variables.$bp-tablet) {
    font-size: 17px;
  }
}

.catalog-topbest-list {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.catalog-topbest-item {
  display: flex;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    gap: 16px;
    flex-direction: column;
  }

  @media (min-width: variables.$bp-tablet) {
    gap: 20px;
    flex-direction: row;
  }
}

.catalog-topbest-img {
  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: variables.$bp-tablet) {
    width: 87px;
    height: 87px;
  }
}

.catalog-topbest-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.catalog-topbest-info.text-main {
  color: variables.$black;

  @media (320px <= width <= calc((variables.$bp-tablet) - 1px)) {
    max-width: 70px;
    font-size: 10px;
  }

  @media (min-width: variables.$bp-tablet) {
    font-size: 15px;
  }
}

.catalog-topbest-stars {
  margin-top: 9px;
  display: flex;
  gap: 5px;
}
