// colors
$white: #fff;
$black: #000;
$textmain: #504e4a;
$copyright: rgb(0 0 0 / 35%);
$purple: #b92770;
$purple-half-opacity: rgb(185 39 112 / 50%);
$darkpurple: #702048;
$stroke-header: #727174;
$textminor: #e9e9ed;
$bg-hero: #e7e8e9;
$bg-hero-with-opacity: rgb(231 232 233 / 90%);
$bg-chief: rgb(0 0 0 / 40%);
$shadow: 0 20px 80px 0 rgb(193 199 212 / 70%);
$shadow-travel-suitcases: rgb(240 46 170 / 40%) 5px 5px,
  rgb(240 46 170 / 30%) 10px 10px, rgb(240 46 170 / 20%) 15px 15px,
  rgb(240 46 170 / 10%) 20px 20px, rgb(240 46 170 / 5%) 25px 25px;
$green: rgb(47 103 47);
$lightpurple: rgb(246 216 241);
$shadow-text: 2px 2px 5px grey;
$textcounter: #707070;
$yellow: rgb(226 203 24);

// breakpoints value
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1440px;

// edge padding for content
$tablet-padding: 38px;
$laptop-padding: 64px;
$desktop-padding: 140px;

// spacing value
$spacing2: 2px;
$spacing4: 4px;
$spacing6: 6px;
$spacing8: 8px;
$spacing10: 10px;
$spacing12: 12px;
$spacing14: 14px;
$spacing16: 16px;
$spacing18: 18px;
$spacing20: 20px;
$spacing24: 24px;
$spacing32: 32px;
$spacing40: 40px;
$spacing60: 60px;
