<article class="footer-benefits">
  <div class="container">
    <div class="footer-benefits-container">
      <h3>Our Benefits</h3>
      <ul class="footer-benefits-list">
        <li class="footer-benefits-item">
          <img
            src="./assets/img/footer/airplane.png"
            alt="airplane"
            class="footer-benefits-item-img"
          />
          <p class="footer-benefits-text">
            Velit nisl sodales eget donec quis. volutpat orci.
          </p>
        </li>
        <li class="footer-benefits-item">
          <img
            src="./assets/img/footer/car.png"
            alt="car"
            class="footer-benefits-item-img"
          />
          <p class="footer-benefits-text">
            Dolor eu varius. Morbi fermentum velit nisl.
          </p>
        </li>
        <li class="footer-benefits-item">
          <img
            src="./assets/img/footer/coins.png"
            alt="coins"
            class="footer-benefits-item-img"
          />
          <p class="footer-benefits-text">
            Malesuada fames ac ante ipsum primis in faucibus.
          </p>
        </li>
        <li class="footer-benefits-item">
          <img
            src="./assets/img/footer/cap.png"
            alt="cap"
            class="footer-benefits-item-img"
          />
          <p class="footer-benefits-text">
            Nisl sodales eget donec quis. volutpat orci.
          </p>
        </li>
      </ul>
    </div>
  </div>
</article>
<div class="container">
  <div class="footer-info">
    <div class="footer-about">
      <ul class="footer-about-mainlist">
        <li class="footer-about-mainitem">
          <a href="./pages/about.html" class="footer-about-header">About Us</a>
          <ul class="footer-about-list">
            <li class="footer-about-text">Organisation</li>
            <li class="footer-about-text">Partners</li>
            <li class="footer-about-text">Clients</li>
          </ul>
        </li>
        <li class="footer-about-mainitem">
          <h4>Interesting Links</h4>
          <ul class="footer-about-list">
            <li class="footer-about-text">Photo Gallery</li>
            <li class="footer-about-text">Our Team</li>
            <li class="footer-about-text">Socials</li>
          </ul>
        </li>
        <li class="footer-about-mainitem">
          <h4>Achievements</h4>
          <ul class="footer-about-list">
            <li class="footer-about-text">Winning Awards</li>
            <li class="footer-about-text">Press</li>
            <li class="footer-about-text">Our Amazing Clients</li>
          </ul>
        </li>
      </ul>
      <div class="footer-about-shipping">
        <h4>Shipping Information</h4>
        <p class="footer-about-text">
          Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut
          sit amet erat nec nibh rhoncus varius in non lorem. Donec interdum,
          lectus in convallis pulvinar, enim elit porta sapien, vel finibus erat
          felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam.
        </p>
      </div>
    </div>

    <article class="footer-contacts">
      <a href="./pages/contact.html" class="footer-about-header">Contact Us</a>
      <p class="footer-about-text footer-about-text-wide">
        Bendum dolor eu varius. Morbi fermentum velitsodales egetonec. volutpat
        orci. Sed ipsum felis, tristique egestas et, convallis ac velitn
        consequat nec luctus.
      </p>
      <ul class="footer-contacts-list">
        <li class="footer-contacts-item">
          <img
            src="./assets/img/icons/footer/phone.svg"
            class="footer-contacts-icon"
            width="24"
            height="24"
          />
          <p class="footer-about-text">Phone: (+63) 236 6322</p>
        </li>

        <li class="footer-contacts-item">
          <img
            src="./assets/img/icons/footer/envelope.svg"
            class="footer-contacts-icon"
            width="24"
            height="18"
          />
          <p class="footer-about-text">public@news.com</p>
        </li>

        <li class="footer-contacts-item">
          <img src="./assets/img/icons/footer/clock.svg"
          class="footer-contacts-icon" width="27- height="27" />
          <p class="footer-about-text">
            Mon - Fri: 10am - 6pm<br />Sat - Sun: 10am - 6pm
          </p>
        </li>

        <li class="footer-contacts-item">
          <img
            src="./assets/img/icons/footer/map.svg"
            class="footer-contacts-icon"
            width="20"
            height="24"
          />
          <p class="footer-about-text">
            639 Jade Valley,<br />
            Washington Dc
          </p>
        </li>
      </ul>
    </article>
  </div>
  <p class="footer-copyright-text container">© Copyright 2025</p>
</div>
