<div class="header-container">
  <div class="header-main">
    <ul class="header-social-list">
      <li>
        <img
          src="./src/assets/img/icons/header/facebook.svg"
          width="20"
          height="20"
        />
      </li>
      <li>
        <img
          src="./src/assets/img/icons/header/twitter.svg"
          width="25"
          height="20"
        />
      </li>
      <li>
        <img
          src="./src/assets/img/icons/header/instagram.svg"
          width="20"
          height="20"
        />
      </li>
    </ul>
    <a href="./index.html" class="header-logo">
      <div class="header-logo-box">
        <img src="./src/assets/img/header/bag.png" alt="bag" />
      </div>
      <p class="header-logo-text">BEST SHOP</p>
    </a>
    <ul class="header-usermenu">
      <li>
        <img
          id="header-user-login"
          src="./src/assets/img/icons/header/user.svg"
        />
      </li>
      <li class="header-cart">
        <a href="./src/pages/cart.html">
          <img src="./src/assets/img/icons/header/shopping-cart.svg" />
        </a>
        <div id="cart-counter"></div>
      </li>
      <li class="header-burger">
        <img
          id="header-burger"
          src="./src/assets/img/icons/header/burger_menu.svg"
        />
      </li>
    </ul>
  </div>
  <nav id="header-nav" class="header-nav">
    <button id="header-nav-slose" class="header-nav-slose">
      <img src="./src/assets/img/icons/header/close_menu.svg" width="28" />
    </button>
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="./index.html" class="header-nav-text" id="home-page">Home</a>
      </li>
      <li class="header-nav-item">
        <a
          href="./src/pages/catalog.html"
          class="header-nav-text"
          id="catalog-page"
          >Catalog</a
        >
      </li>
      <li class="header-nav-item">
        <a
          href="./src/pages/about.html"
          class="header-nav-text"
          id="about-us-page"
          >About Us</a
        >
      </li>
      <li class="header-nav-item">
        <a
          href="./src/pages/contact.html"
          class="header-nav-text"
          id="contact-us-page"
          >Contact Us</a
        >
      </li>
    </ul>
  </nav>
</div>
