<div class="container">
  <div class="product-card">
    <div class="product-card-img-box">
      <img id="product-card-main-img" class="product-card-main-img" alt="" />
      <ul class="product-card-small-img-list">
        <li>
          <img
            src="./assets/img/product_details_page/bag1.jpg"
            alt="bag side"
          />
        </li>
        <li>
          <img
            src="./assets/img/product_details_page/bag2.jpg"
            alt="bag front side"
          />
        </li>
        <li>
          <img
            src="./assets/img/product_details_page/bag3.jpg"
            alt="open bag on floor"
          />
        </li>
        <li>
          <img
            src="./assets/img/product_details_page/bag4.jpg"
            alt="open bag"
          />
        </li>
      </ul>
    </div>
    <div>
      <p
        id="product-card-info-name"
        class="header-logo-text product-card-info-name"
      >
        name
      </p>
      <div class="product-card-info-rating-box">
        <ul id="product-card-stars"></ul>
        <p class="text-main product-card-info-review">(1 Clients Review)</p>
      </div>
      <p
        id="product-card-info-price"
        class="header-nav-text product-card-info-price"
      >
        $price
      </p>
      <ul class="text-main product-card-info-text">
        <li>
          The new Global Explorer Max Comfort Suitcase Pro is a bold reimagining
          of travel essentials, designed to elevate every journey. Made with at
          least 30% recycled materials, its lightweight yet impact-resistant
          shell combines eco- conscious innovation with rugged durability.
        </li>
        <li>
          The ergonomic handle and GlideMotion spinner wheels ensure effortless
          mobility while making a statement in sleek design. Inside, the modular
          compartments and adjustable straps keep your belongings secure and
          neatly organized, no matter the destination.
        </li>
      </ul>

      <ul class="product-card-info-selectlist">
        <li class="product-card-info-selectitem">
          <p class="header-nav-text product-card-info-selectitem-header">
            Size
          </p>
          <div
            id="product-size-wrapper"
            data-filter="category"
            class="catalog-filters-wrapper text-main"
          >
            <div class="catalog-filters-label">Choose option</div>
            <ul class="catalog-filters">
              <li data-select-value="S">S</li>
              <li data-select-value="M">M</li>
              <li data-select-value="XL">XL</li>
              <li data-select-value="L">L</li>
            </ul>
            <img
              class="catalog-filters-arrow"
              src="./assets/img/icons/arrow-sort.svg"
              alt="arrow-sort"
            />
          </div>
        </li>

        <li class="product-card-info-selectitem">
          <p class="header-nav-text product-card-info-selectitem-header">
            Color
          </p>
          <div
            id="product-color-wrapper"
            data-filter="category"
            class="catalog-filters-wrapper text-main"
          >
            <div class="catalog-filters-label">Choose option</div>
            <ul class="catalog-filters">
              <li data-select-value="red">red</li>
              <li data-select-value="blue">blue</li>
              <li data-select-value="black">black</li>
              <li data-select-value="grey">grey</li>
              <li data-select-value="green">green</li>
            </ul>
            <img
              class="catalog-filters-arrow"
              src="./assets/img/icons/arrow-sort.svg"
              alt="arrow-sort"
            />
          </div>
        </li>

        <li class="product-card-info-selectitem">
          <p class="header-nav-text product-card-info-selectitem-header">
            Category
          </p>
          <div
            id="product-category-wrapper"
            class="catalog-filters-wrapper text-main"
          >
            <div class="catalog-filters-label">Choose option</div>
            <ul class="catalog-filters">
              <li data-select-value="carry-ons">carry-ons</li>
              <li data-select-value="suitcases">suitcases</li>
              <li data-select-value="luggage sets">luggage sets</li>
              <li data-select-value="kids' luggage">kids' luggage</li>
            </ul>
            <img
              class="catalog-filters-arrow"
              src="./assets/img/icons/arrow-sort.svg"
              alt="arrow-sort"
            />
          </div>
        </li>
      </ul>
      <div class="product-card-cart-box">
        <div class="header-logo-text product-card-cart-counter-box">
          <button
            id="product-card-cart-decrement"
            class="header-logo-text product-card-cart-increment"
            type="button"
          >
            -
          </button>
          <p class="product-card-cart-counter" id="product-card-cart-counter">
            1
          </p>
          <button
            id="product-card-cart-increment"
            class="header-logo-text product-card-cart-increment"
            type="button"
          >
            +
          </button>
        </div>
        <button
          id="product-card-cart-addbtn"
          class="button product-card-cart-addbtn"
        >
          Add To Cart
        </button>
      </div>

      <div class="product-card-pay-box">
        <p class="header-logo-text product-card-pay-text">Payment:</p>
        <ul class="product-card-pay">
          <li>
            <img
              src="./assets/img/icons/product_details_page/visa.svg"
              alt="visa sign"
            />
          </li>
          <li>
            <img
              src="./assets/img/icons/product_details_page/am-express.svg"
              alt="am-express sign"
            />
          </li>
          <li>
            <img
              src="./assets/img/icons/product_details_page/master-card.svg"
              alt="master-card sign"
            />
          </li>
          <li>
            <img
              src="./assets/img/icons/product_details_page/paypal.svg"
              alt="paypal sign"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
